/*nav related styles */
nav{
    color: #000;

text-align: center;
leading-trim: both;

text-edge: cap;
font-family: Whyte Inktrap;
font-size: 132px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 132px */
letter-spacing: -3.96px;
}

/*header related style */
.header{
    position: initial;
}